@model List<SubFeatureCar>
@{
    ViewData["Title"] = "IndexSF";
    Layout = null;
}


<!------ Include the above in your HEAD tag ---------->
<a href="/CPanel/SubFC/CreateSF/@ViewBag.id" class='PopUp btn btn-outline-primary btn-sm m-btn m-btn--icon  m-btn--icon-only'><i class='fa fa-edit'></i></a>

<section class="container mt-4 mb-4">
    <div class="container">
        <div class="row mb-3">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@item.NameAr</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@item.AnswerAr</h6>
                            <a href="/CPanel/SubFC/EditSF/@item.Id" class="btn btn-outline-danger"><span class="fa fa-edit"></span></a>
                            <a href="/CPanel/SubFC/DeleteSF/@item.Id" class="btn btn-outline-info"><span class="flaticon-delete-1"></span></a>
                        </div>
                    </div>
                </div>

            }
        </div>

    </div>
</section>
