@model CityDTO
@{
    ViewData["Title"] = "تعديل المدينة";
    Layout = null;
}

<form asp-action="Edit" method="post" class="ajaxForm" tname="#dataTableId">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="CityAr"></label>
                <input asp-for="CityAr" class="form-control" />
                <span asp-validation-for="CityAr" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="CityEn"></label>
                <input asp-for="CityEn" class="form-control" />
                <span asp-validation-for="CityEn" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <input type="submit" value="حفظ" class="btn btn-primary" />
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">الغاء</button>
    </div>
</form>
<script>
    PageLoadActions();
</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="