@model SliderDTO
@{
    ViewData["Title"] = "إضافة منشور جديد ";
}
@section Css{
    <style>
        td {
            padding: 8px 1px 8px 1px !important;
            font-size: 14px !important;
        }

        th {
            font-weight: bold;
            font-size: medium;
        }

        td a {
            margin-left: 5px !important;
        }

        .m-portlet__body {
            padding-top: 0px !important;
        }

        .dt-buttons {
            margin-top: 12px
        }
    </style>
}
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    <span style="color: #ebebeb"></span> إضافة منشور جديد
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <br />
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TitleAr" class="control-label"></label>
                        <input onkeydown="return checkLength(this)" id="input" asp-for="TitleAr" class="form-control"> <span id="count">0</span>
                        <span asp-validation-for="TitleAr" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TitleEn" class="control-label"></label>
                        <input onkeydown="return checkLength(this)" id="input1" max="30" asp-for="TitleEn" class="form-control"> <span id="count1">0</span>
                        <span asp-validation-for="TitleEn" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SubTitleAr" class="control-label"></label>
                        <input onkeydown="return checkLength1(this)" id="input2" asp-for="SubTitleAr" class="form-control"> <span id="count2">0</span>
                        <span asp-validation-for="SubTitleAr" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SubTitleEn" class="control-label"></label>
                        <input onkeydown="return checkLength1(this)" id="input3" asp-for="SubTitleEn" class="form-control"> <span id="count3">0</span>
                        <span asp-validation-for="SubTitleEn" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LinkUrl" class="control-label"></label>
                        <input id="title" asp-for="LinkUrl" class="form-control">
                        <span asp-validation-for="LinkUrl" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="BackgroundColor" class="control-label"></label>
                        <input type="color" max="30" asp-for="BackgroundColor" class="form-control">
                        <span asp-validation-for="BackgroundColor" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SliderType"></label>
                        <select id="select" asp-for="SliderType" asp-items="Html.GetEnumSelectList<CMSCar.Areas.CPanel.Models.SliderType>()" title="--- إختار  نموذج المنشور ---" class="custom-select" data-width="100%">
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="MainImages" class="control-label"></label>
                        <input type="file" asp-for="MainImages" class="form-control">
                        <span asp-validation-for="MainImages" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Images1" class="control-label"></label>
                        <input type="file" asp-for="Images1" class="form-control">
                        <span asp-validation-for="Images1" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Images2" class="control-label"></label>
                        <input type="file" asp-for="Images2" multiple class="form-control">
                        <span asp-validation-for="Images2" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Images3" class="control-label"></label>
                        <input type="file" asp-for="Images3" class="form-control">
                        <span asp-validation-for="Images3" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Images4" class="control-label"></label>
                        <input type="file" asp-for="Images4" multiple class="form-control">
                        <span asp-validation-for="Images4" class="text-danger"></span>
                    </div>
                </div>

            </div>


            <div class="form-group">
                <input type="submit" value="اضافة" class="btn btn-primary" />
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">الغاء</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
 <script>
     var maxLength = 30;

     function checkLength(elem) {
         if (elem.value.length == maxLength) {
             return false;
         }
         return true;
     }
     var maxLength1 = 70;

     function checkLength1(elem) {
         if (elem.value.length == maxLength1) {
             return false;
         }
         return true;
     }


     $("#input").on("input", function () {
         $("#count").text(this.value.length);
     });
     $("#input1").on("input", function () {
         $("#count1").text(this.value.length);
     });
     $("#input2").on("input", function () {
         $("#count2").text(this.value.length);
     });
     $("#input3").on("input", function () {
         $("#count3").text(this.value.length);
     });

 </script>
 <script type="text/javascript">
    
 </script>
}