@{
    ViewData["Title"] = "Home Page";
}
<div class="clearfix"></div>
<div id="getFixed">
    <section class="redSep">
        <div class="container">
            <div class="fixedLogo">
                <img src="~/web/img/saleh_logo_icon.svg" width="50">
            </div>
            <nav class="inFixed">
                <ul>
                    <li><a class=" active  " href="~/ar">الرئيسية</a></li>
                    <li class="have-child">
                        <a class="" href="javascript:void(0);">من نحن<i class="fas fa-chevron-left"></i></a>
                        <ul>
                            <li><a class="" href="~/ar/about">عن الشركة</a></li>
                            <li><a class="" href="~/ar/whySaleh">ليش صالح</a></li>
                        </ul>
                    </li>
                    <li><a class="" href="~/ar/brands">السيارات</a></li>
                    <li class="have-child">
                        <a class="" href="javascript:void(0);">العروض<i class="fas fa-chevron-left"></i></a>
                        <ul>
                            <li><a class="" href="~/ar/cars/offers">الخصومات</a></li>
                            <li><a class="" href="~/ar/offers">العروض الخاصة</a></li>
                        </ul>
                    </li>

                    <li class="have-child">
                        <a class="" href="javascript:void(0);">طلب شراء <i class="fas fa-chevron-left"></i></a>
                        <ul>
                            <li><a class="" href="~/ar/buy_individual">افراد</a></li>
                            <li><a class="" href="~/ar/buy_company">شركات</a></li>
                        </ul>
                    </li>
                    <li><a class="" href="~/ar/common_questions">الاسئلة الشائعة</a></li>
                    <li><a class="" href="~/ar/contact">اتصل بنا</a></li>
                </ul>
            </nav>

            <div class="contactBtns">

                <a href="javascript:void(0);" data-type="search" class="displayPopup searchy"><i class="fa fa-search fa-lg"></i> <span> </span></a>
                <a href="javascript:void(0);" data-type="share" class="displayPopup"><i class="fas fa-share-alt"></i> <span> </span></a>

                <a href="tel:920022122" class=""><i class="fas fa-phone"></i> <span> </span></a>
                <a href="https://wa.me/966538665500" data-type="whats" data-link="https://wa.me/966538665500" class="" target="_blank"><i class="fab fa-whatsapp"></i></a>

            </div>
            <div id="form_call">
                <p>أدخل رقم جوالك لنخدمك</p>
                <form method="post" action="~/ar/savePhone">
                    <input type="hidden" name="_token" value="UuKzCtXmVTK47dBcYS9hPkqhZQ5rGLfU2Y40yCw4">					<input type="hidden" name="type" id="phonenumber_type">
                    <input type="text" name="phone" placeholder="اختياري">
                    <button type="submit"><i class="fas fa-phone"></i></button>
                </form>
            </div>
            <div id="social_btns_wraper">

                <ul class="share-social"><li><a class="share-link share-twitter" href="https://twitter.com/intent/tweet?text=صالح للسيارات | الرئيسية&amp;url=~/ar&amp;via=salehcars" target="_blank"><i class="fab fa-twitter"></i></a></li><li><a class="share-link share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=~/ar" target="_blank"><i class="fab fa-facebook-f"></i></a></li><li><a class="share-link share-whatsapp" href="whatsapp://send?text=صالح للسيارات | الرئيسية ~/ar" target="_blank"><i class="fab fa-whatsapp"></i></a></li><li><a class="share-link share-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=~/ar&amp;title=صالح للسيارات | الرئيسية" target="_blank"><i class="fab fa-linkedin-in"></i></a></li></ul>

            </div>

            <div id="searchOnFixed">
                <div class="searchMobile_onFixed" id="searchMobile_onFixed">
                    <form action="~/ar/search" method="GET">
                        <input type="hidden" name="_token" value="UuKzCtXmVTK47dBcYS9hPkqhZQ5rGLfU2Y40yCw4">						<input type="text" name="search_text" id="toHeadSearch" class="toHeadSearch" placeholder="ابحث هنا ...">
                        <input type="submit" class="toHeadBtn" value="بحث">
                    </form>
                    <a class="advancedSearch" id="advancedSearch_DK" href="#"><i class="fab fa-searchengin"></i> البحث المتقدم ... </a>
                </div>
            </div>


        </div>

    </section>
</div>
<div class="w-100">
    <div class="slider" style="max-width: 100%;">
        <link href="https://fonts.googleapis.com/css?family=Cairo:700%2C800%2C600%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
        <div id="rev_slider_13_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
            <!-- START REVOLUTION SLIDER 5.4.8.1 fullwidth mode -->
            <div id="rev_slider_13_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8.1">
                
                <ul>
                    <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="https://slider.salehcars.com/revslider/admin/assets/images/transparent.png" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <p>يوجد لدينا مجموعة كبيرة من السيارات</p>
                        <img src="https://i.pinimg.com/originals/e0/b6/19/e0b619bb4def29cc007fba6c9b74cf99.jpg" data-bgcolor='#fec400' style='background:#fec400' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <div class="tp-caption   tp-resizeme"
                             id="slide-126-layer-34"
                             data-x="['right','right','right','right']" data-hoffset="['118','118','118','186']"
                             data-y="['top','top','top','top']" data-voffset="['594','594','594','644']"
                             data-frames='[{"delay":100,"speed":700,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                             style="z-index: 17;  white-space: nowrap; font-size: 15px; line-height: 28px; font-weight: 400; color: #ffffff; letter-spacing: -1px;font-family:Cairo;"></div>
                    </li>
                    <!-- SLIDE  -->
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div><!-- END REVOLUTION SLIDER -->
    </div>
</div><!--w-100 -->
<section class="filterHome">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="form" action="~/ar/search" method="GET">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <!-- <label for="inputState">State</label> -->
                                    <select name="car_brand_id" id="inputState" class="form-control">
                                        <option value="" selected>اختر الماركه</option>
                                    </select>
                                </div>


                                <div class="form-group col-md-3">
                                    <select name="car_model_id" id="inputState_model" class="form-control">
                                        <option value="" selected>اختر النوع</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-3">
                                    <select name="car_model_type" id="inputState_model-type" class="form-control">
                                        <option value="" selected>اختر الفئة</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-3">
                                    <input type="text" name="search_text" class="form-control" id="search-box" placeholder="ابحث هنا ...">

                                </div>
                            </div> <!--row inside -->
                        </div> <!-- col9 -->



                        <button type="submit" class="btn btn-primary col-md-3">بحث</button>
                    </div> <!--row -->
                </form>
            </div>
            <ul class="results">
            </ul>
        </div> <!--row -->
    </div>  <!-- container -->
</section>
<section class="whySaleh">
    <div class="w-100">
        <div class="container">
            <div class="sec-head">
                <h1> ليش صالح</h1>
            </div>
            <p>الإجابة بكل إختصار : أقل الأسعار ، أفضل باقة لخدمات مابعد البيع,أكبر تنوع للسيارات في مكان واحد ، جميع البنوك وشركات التمويل معتمدة لدينا ، لذلك صالح هو ( خيارك الأول ومستشارك الأفضل ) لشراء السيارة.</p>
        </div>
    </div>
</section>
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="new_service">
                    <img class="new_service_bg" src="~/storage/whysaleh/5e4a50633eb551581928547.svg">
                    <div class="new_service_wrap">
                        <a class="new_service_link" href="~/whySaleh#whySaleh_2"> <h2 class="new_service_head">سعرنا هو الأفضل</h2></a>
                        <div class="new_service_text">
                            <p>
                                الصفقات الكبرى المبرمة مع الوكلاء تمنحنا ميزة الدعم الأكبر لتقديم أفضل سعر ممكن لعملائنا مع كامل المزايا والخدمات الم...
                            </p>

                        </div>

                    </div>
                    <a href="~/whySaleh#whySaleh_2" class="new_service_more"> المزيد <i class="fa fa-caret-left" aria-hidden="true"></i></a>


                </div>

            </div>
        </div><!-- row -->
    </div> <!-- container -->
</section>
<div class="clearfix"></div>
<section class="brands">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-head">
                    <h1>موزع معتمد لجميع انواع السيارات</h1>
                </div>
                <p></p>
                <div class="row d-flex justify-content-center">
                    <div class="col col-md-2 col-6 brand">
                        <a href="~/ar/cars/brands/7/%D9%87%D9%8A%D9%88%D9%86%D8%AF%D8%A7%D9%8A"><img src="~/storage/brands/5caf141da42881554977821.svg">هيونداي</a>
                    </div>
                    <div class="col col-md-2 col-6 brand">
                        <a href="~/ar/cars/brands/36/GAC"><img src="~/storage/brands/5f5a446eed0c71599751278.png">GAC</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cars gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-head">
                    <h1> أحدث السيارات</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel">
                    <div class="car">
                        <a data-toggle="tooltip" data-placement="left" title="اضف للمفضلة" href="   ~/ar/favorite/503  " class="addToFavLink  ">
                            <i class="far fa-heart"></i>
                        </a>
                        <a href="~/ar/car/503/GAC-GS5-GE-2021">
                            <div class="img_wrap">
                                <img src="https://salehcars.com/storage/products/main_5f7090de9c55c1601212638.png" alt="GAC GS5 GE 2021">
                            </div>
                            <h3> GAC GS5 GE 2021 </h3>
                            <hr>
                            <ul class="shortDesc">
                                <li>سعة المحرك : 1.5 لتر</li>
                                <li>
                                    تنجيد المقاعد :
                                    مخمل
                                </li>
                                <li>
                                    نوع الجر :
                                    دفع امامي

                                </li>
                                <li class="car_placeHolder"></li>
                            </ul>
                            <div class="car_price ">
                                السعر :  74,500 ر.س
                            </div>
                        </a>
                    </div>
                </div>
                </div> 
        </div> <!-- row big -->
    </div> <!-- container -->
</section>

<section class="drive_quote">

    <div class="container_fluid">

        <div class="col-md-6 float-right min_335" style="background-color:#c2000b;">

            <div id="buy_car_home">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-7">

                        <div class="sec-head">
                            <h1>
                                طلب شراء
                            </h1>
                        </div>
                        <div class="buy_car_text">
                            إرفق البيانات المطلوبة وسنقوم بمساعدتك فورا" لشراء السيارة التي ترغب بها, بأقل نسبة مرابحة وأفضل عرض تمويلي من مختلف البنوك وشركات التمويل المعتمدة لدينا.
                        </div>
                        <a href="~/ar/buy_company" class="buy_car_home_btn">شركات</a>
                        <a href="~/ar/buy_individual" class=" buy_car_home_btn">افراد</a>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>

        </div>


        <div class="col-md-6 float-right min_335 hideOnMobile" style="background:url('~/web/img/buy_car.jpg')"></div>
    </div>
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>
<div class="container best_price">
    <div class="row">

        <div class="col-md-12">
            <div class="sec-head">
                <h2>سعرنا هو الأفضل</h2>
            </div>
            <p>الصفقات الكبرى المبرمة مع الوكلاء تمنحنا ميزة الدعم الأكبر لتقديم أفضل سعر ممكن لعملائنا مع كامل المزايا والخدمات الممكنة,لذلك أصبحنا موزع معتمد لأغلب العلامات التجارية في المملكة ,ونلنا ثقة جميع الوكلاء وأصبحنا الخيار الأول للعملاء عند الرغبة في شراء السيارات.</p>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            event: 'eec.productImpressions',
            'ecommerce': {
                'currencyCode': 'SAR',
                'impressions': [{ "name": "GAC GS5 GE 2021", "id": 503, "price": "74500", "brand": "GAC", "category": "GS5", "variant": "null", "list": "Home Page", "position": 1 }, { "name": "GAC GS3 GS 2021", "id": 502, "price": "46000", "brand": "GAC", "category": "GS3", "variant": "null", "list": "Home Page", "position": 2 }, { "name": "GAC GN6 GE 2021", "id": 501, "price": "70100", "brand": "GAC", "category": "GN6", "variant": "null", "list": "Home Page", "position": 3 }, { "name": "GAC GA8 GE 2020", "id": 500, "price": "82200", "brand": "GAC", "category": "GA8", "variant": "null", "list": "Home Page", "position": 4 }, { "name": "GAC GS8 GL-4WD 2021", "id": 499, "price": "93000", "brand": "GAC", "category": "GS8", "variant": "null", "list": "Home Page", "position": 5 }, { "name": "GAC GS3 GE 2021", "id": 498, "price": "55800", "brand": "GAC", "category": "GS3", "variant": "null", "list": "Home Page", "position": 6 }, { "name": "GAC GS5 GL 2021", "id": 497, "price": "80000", "brand": "GAC", "category": "GS5", "variant": "null", "list": "Home Page", "position": 7 }, { "name": "GAC GA4 GE 2021", "id": 496, "price": "47200", "brand": "GAC", "category": "GA4", "variant": "null", "list": "Home Page", "position": 8 }, { "name": "GAC GN8 GP 2020", "id": 495, "price": "116000", "brand": "GAC", "category": "GN8", "variant": "null", "list": "Home Page", "position": 9 }, { "name": "شانجان CS95 Royal دبل 2021", "id": 494, "price": "111900", "brand": "شانجان", "category": "CS95", "variant": "null", "list": "Home Page", "position": 10 }]
            }
        });
    </script>
    <script type="text/javascript">
        function setREVStartSize(e) {
            try {
                e.c = jQuery(e.c); var i = jQuery(window).width(), t = 9999, r = 0, n = 0, l = 0, f = 0, s = 0, h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) { f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e) }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) { var u = (e.c.width(), jQuery(window).height()); if (void 0 != e.fullScreenOffsetContainer) { var c = e.fullScreenOffsetContainer.split(","); if (c) jQuery.each(c, function (e, i) { u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0)) } f = u } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight); e.c.closest(".rev_slider_wrapper").css({ height: f })
            } catch (d) { console.log("Failure at Presize of Slider:" + d) }
        };</script>
    <script type="text/javascript">
        function revslider_showDoubleJqueryError(sliderID) {
            var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
            errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
            errorMessage += "<br><br> To fix it you can find the double jquery.js include and remove it.";
            errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
            jQuery(sliderID).show().html(errorMessage);
        }
    </script>
    <script>
        var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss = "";
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement("div");
            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>
    <script type="text/javascript">
        if (setREVStartSize !== undefined) setREVStartSize(
            { c: '#rev_slider_13_1', responsiveLevels: [1240, 1240, 1240, 480], gridwidth: [1240, 1240, 1240, 480], gridheight: [700, 700, 700, 700], sliderLayout: 'fullwidth' });

        var revapi13,
            tpj;
        (function () {
            if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded", onLoad); else onLoad();

            function onLoad() {
                if (tpj === undefined) { tpj = jQuery; if ("off" == "on") tpj.noConflict(); }
                if (tpj("#rev_slider_13_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_13_1");
                } else {
                    revapi13 = tpj("#rev_slider_13_1").show().revolution({
                        sliderType: "standard",
                        jsFileLocation: "//slider.salehcars.com/revslider/public/assets/js/",
                        sliderLayout: "fullwidth",
                        dottedOverlay: "none",
                        delay: 9000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            mouseScrollReverse: "default",
                            onHoverStop: "off",
                            bullets: {
                                enable: true,
                                hide_onmobile: false,
                                style: "uranus",
                                hide_onleave: false,
                                direction: "horizontal",
                                h_align: "center",
                                v_align: "bottom",
                                h_offset: 0,
                                v_offset: 20,
                                space: 15,
                                tmp: '<span class="tp-bullet-inner"></span>'
                            }
                        },
                        responsiveLevels: [1240, 1240, 1240, 480],
                        visibilityLevels: [1240, 1240, 1240, 480],
                        gridwidth: [1240, 1240, 1240, 480],
                        gridheight: [700, 700, 700, 700],
                        lazyType: "none",
                        shadow: 0,
                        spinner: "spinner0",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                }; /* END OF revapi call */
            }; /* END OF ON LOAD FUNCTION */
        }()); /* END OF WRAPPING FUNCTION */
    </script>
    <script>
        var htmlDivCss = unescape("%23rev_slider_13_1%20.uranus%20.tp-bullet%7B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C%20255%2C%20255%2C%200%29%3B%0A%20%20-webkit-transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20background%3Atransparent%3B%0A%20%20width%3A15px%3B%0A%20%20height%3A15px%3B%0A%7D%0A%23rev_slider_13_1%20.uranus%20.tp-bullet.selected%2C%0A%23rev_slider_13_1%20.uranus%20.tp-bullet%3Ahover%20%7B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C%20255%2C%20255%2C1%29%3B%0A%20%20border%3Anone%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background%3Atransparent%3B%0A%7D%0A%0A%23rev_slider_13_1%20.uranus%20.tp-bullet-inner%20%7B%0A%20%20-webkit-transition%3A%20background-color%200.3s%20ease%2C%20-webkit-transform%200.3s%20ease%3B%0A%20%20transition%3A%20background-color%200.3s%20ease%2C%20transform%200.3s%20ease%3B%0A%20%20top%3A%200%3B%0A%20%20left%3A%200%3B%0A%20%20width%3A%20100%25%3B%0A%20%20height%3A%20100%25%3B%0A%20%20outline%3A%20none%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background-color%3A%20rgb%28255%2C%20255%2C%20255%29%3B%0A%20%20background-color%3A%20rgba%28255%2C%20255%2C%20255%2C%200.3%29%3B%0A%20%20text-indent%3A%20-999em%3B%0A%20%20cursor%3A%20pointer%3B%0A%20%20position%3A%20absolute%3B%0A%7D%0A%0A%23rev_slider_13_1%20.uranus%20.tp-bullet.selected%20.tp-bullet-inner%2C%0A%23rev_slider_13_1%20.uranus%20.tp-bullet%3Ahover%20.tp-bullet-inner%7B%0A%20transform%3A%20scale%280.4%29%3B%0A%20-webkit-transform%3A%20scale%280.4%29%3B%0A%20background-color%3Argb%28255%2C%20255%2C%20255%29%3B%0A%7D%0A");
        var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        }
        else {
            var htmlDiv = document.createElement('div');
            htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
            document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>
    <script>
        var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss = "";
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement("div");
            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>
}