@{
    ViewData["Title"] = "Privacy Policy";
}


<section class="inner_header">
    <div class="w-100">

        <div class="pageHead">
            <div class="container">
                <h2>مرسيدس بنز GLC 300 2020</h2>
                <!-- <div class="purchase">طلب شراء</div> -->
                <a href="https://salehcars.com/public/ar/buy_individual/514" class="purchase purchseBtn">طلب شراء</a>
                <div class="priceHead">
                    <div class=" ">
                        <p class="price">251,000</p>
                        <p class="currancy">ر.س</p>
                    </div>
                </div>
                <div class="favOnCar_Mobile d-block d-sm-none">
                    <a href="https://salehcars.com/public/ar/favorite/514  " class="addToFavLink  ">
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="tranBread row">
                <div class="container">
                    <ul id="breadOnCar">
                        <li><a href="https://salehcars.com/public/ar">الرئيسية</a></li>
                        <li><a href="https://salehcars.com/public/ar/brands">السيارات</a> </li>
                        <li><a href="https://salehcars.com/public/ar/cars/brands/21"> مرسيدس بنز </a> </li>
                        <li><a>مرسيدس بنز GLC 300 2020</a></li>
                    </ul>
                    <div id="favOnCar">
                        <a href="https://salehcars.com/public/ar/favorite/514  " class="addToFavLink  ">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                </div>
            </div><!-- tranBread -->
        </div>
    </div><!--w-100 -->
</section>

<div class="container">
    <section class="car_banner">
        <img src="https://salehcars.com/public/storage/products/cover_5f71a5de625231601283550.jpeg">
    </section>
</div>
<div class="clearfix"></div>
<div class="container"></div>
<section class="carInner">
    <div class="container">
        <div id="loader"><img src="https://salehcars.com/public/web/img/loading.svg" alt="Loading.."></div>
        <div class="outerImgs">
            <div class="inCarRow1">
                <p>الألوان الخارجية المتاحة</p>
                <input type="hidden" name="_token" value="4w3ZL1I1CBWsZiY9v0VzYETRAFkz92G0v3g49XIo">
                <span class="colorName">
                    ابيض
                </span>
                <ul class="colorsIncar">
                    <li class="selectColor selected" data-colorid="2" style="background-color:#ffffff;"></li>
                </ul>
            </div>
            <div class="innerCars owl-carousel" id="outerImgs">
                <div>
                    <a href="https://salehcars.com/public/storage/products/out_5f71a5fc7e64b1601283580.jpg" data-lightbox="innerCar"><img src="https://salehcars.com/public/storage/products/out_5f71a5fc7e64b1601283580.jpg"></a>
                </div>
                <div>
                    <a href="https://salehcars.com/public/storage/products/out_5f71a5fc7f4d41601283580.jpg" data-lightbox="innerCar"><img src="https://salehcars.com/public/storage/products/out_5f71a5fc7f4d41601283580.jpg"></a>
                </div>
                <div>
                    <a href="https://salehcars.com/public/storage/products/out_5f71a5fc7fa9d1601283580.jpg" data-lightbox="innerCar"><img src="https://salehcars.com/public/storage/products/out_5f71a5fc7fa9d1601283580.jpg"></a>
                </div>
                <div>
                    <a href="https://salehcars.com/public/storage/products/out_5f71a5fc7fff61601283580.jpg" data-lightbox="innerCar"><img src="https://salehcars.com/public/storage/products/out_5f71a5fc7fff61601283580.jpg"></a>
                </div>
            </div>
        </div>
        <div class="innerImgs">
            <div class="inCarRow">
                <p>الشكل الداخلي</p>
            </div>

            <div class="innerCars owl-carousel" id="newInnerImgs">
                <div>
                    <a href="https://salehcars.com/public/storage/products/in_5f71a5fc805581601283580.jpg" data-lightbox="innerCar"><img src="https://salehcars.com/public/storage/products/in_5f71a5fc805581601283580.jpg"></a>
                </div>
                <div>
                    <a href="https://salehcars.com/public/storage/products/in_5f71a5fc80afb1601283580.jpg" data-lightbox="innerCar"><img src="https://salehcars.com/public/storage/products/in_5f71a5fc80afb1601283580.jpg"></a>
                </div>
                <div>
                    <a href="https://salehcars.com/public/storage/products/in_5f71a5fc8104f1601283580.jpg" data-lightbox="innerCar"><img src="https://salehcars.com/public/storage/products/in_5f71a5fc8104f1601283580.jpg"></a>
                </div>
                <div>
                    <a href="https://salehcars.com/public/storage/products/in_5f71a5fc815841601283580.jpg" data-lightbox="innerCar"><img src="https://salehcars.com/public/storage/products/in_5f71a5fc815841601283580.jpg"></a>
                </div>
                <div>
                    <a href="https://salehcars.com/public/storage/products/in_5f71a5fc81c031601283580.jpg" data-lightbox="innerCar"><img src="https://salehcars.com/public/storage/products/in_5f71a5fc81c031601283580.jpg"></a>
                </div>
                <div>
                    <a href="https://salehcars.com/public/storage/products/in_5f71a5fc821351601283580.jpg" data-lightbox="innerCar"><img src="https://salehcars.com/public/storage/products/in_5f71a5fc821351601283580.jpg"></a>
                </div>
                <div>
                    <a href="https://salehcars.com/public/storage/products/in_5f71a5fc826c91601283580.jpg" data-lightbox="innerCar"><img src="https://salehcars.com/public/storage/products/in_5f71a5fc826c91601283580.jpg"></a>
                </div>
                <div>
                    <a href="https://salehcars.com/public/storage/products/in_5f71a5fc82c321601283580.jpg" data-lightbox="innerCar"><img src="https://salehcars.com/public/storage/products/in_5f71a5fc82c321601283580.jpg"></a>
                </div>
                <div>
                    <a href="https://salehcars.com/public/storage/products/in_5f71a5fc831511601283580.jpg" data-lightbox="innerCar"><img src="https://salehcars.com/public/storage/products/in_5f71a5fc831511601283580.jpg"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <section class="inCarRow">
        <p>الوصف </p>
    </section>
    <div class="carNotes">
        <ul><li>سعة المحرك 2.0 لتر&nbsp; تيربو</li><li>ناقل حركة اوتوماتيكي 9 سرعات</li><li>نظام الدفع الرباعي MATIC 4</li><li>شاشة تعمل باللمس مع نظام ملاحة</li><li>شاحن لاسلكي</li><li>كاميرا خلفية</li><li>فتحة سقف</li><li>إضاءة داخلية محيطة&nbsp; بالوان متعددة</li></ul>
    </div>
</div>
<div class="clearfix"></div>
<div class="container">
    <section class="inCarRow-dark d-sm-none d-none d-md-block d-lg-block ">
        <div class="row">
            <div class="col-md-6 leftBorder order-2">
                <p>المواصفات </p>
            </div>
            <div class="col-md-6  order-1">
                <p>المميزات </p>
            </div>
        </div>
    </section>
</div>
<section class="spec_fet">
    <div class="container">
        <div class="row">
            <ul class="fetSpecTabs d-block d-md-none col-xs-12">
                <li class="activeTab"><a id="openSpecs" href="javascript:void(0);">المواصفات</a></li>
                <li><a id="openFetures" href="javascript:void(0);">المميزات</a></li>
            </ul>
            <div id="specs" class="col-md-6 leftBorder2 order-2">
                <div class="block">
                    <a class="toggle" href="javascript:void(0);">مواصفات المحرك  <i class="fa fa-plus"></i></a>
                    <ul class="inner">
                        <li class="tab1"><span class="descTab">قياس المحرّك</span><span class="dataTab">2.0</span></li>
                        <li class="tab1"><span class="descTab">نظام المحرك</span><span class="dataTab">V4</span></li>
                        <li class="tab1">
                            <span class="descTab">تيربو</span><span class="dataTab">
                                متاح
                            </span>
                        </li>
                        <li class="tab1">
                            <span class="descTab">car.engine_system</span><span class="dataTab">
                                بنزين
                            </span>
                        </li>
                        <li class="tab1"><span class="descTab">الصمامات</span><span class="dataTab">16 صماماً</span></li>
                    </ul>
                </div>
                <div class="block">
                    <a class="toggle" href="javascript:void(0);">ناقل الحركة<i class="fa fa-plus"></i></a>
                    <ul class="inner">
                        <li class="tab1">
                            <span class="descTab">ناقل الحركة</span><span class="dataTab">
                                اوتوماتيك
                            </span>
                        </li>
                        <li class="tab1">
                            <span class="descTab">نوع الجر</span><span class="dataTab">
                                دفع رباعي
                            </span>
                        </li>
                        <li class="tab1">
                            <span class="descTab">وضع القيادة</span><span class="dataTab">
                                عادي
                                رياضي
                                الرمال
                                الطين
                            </span>
                        </li>
                    </ul>
                </div>

                <div class="block">
                    <a class="toggle" href="javascript:void(0);">الهيكل / القياسات<i class="fa fa-plus"></i></a>
                    <ul class="inner">
                        <li class="tab1">
                            <span class="descTab">النمط</span><span class="dataTab">
                                عائلي
                            </span>
                        </li>
                        <li class="tab1"><span class="descTab">العجلات</span><span class="dataTab">19 انش</span></li>
                        <li class="tab1">
                            <span class="descTab">المقود</span><span class="dataTab">
                                تعديل يدوي
                            </span>
                        </li>
                        <li class="tab1"><span class="descTab">عدد المقاعد</span><span class="dataTab">5</span></li>
                    </ul>
                </div>
            </div>
            <div id="fetures" class="col-md-6  order-1">
                <div class="block">
                    <a class="toggle" href="javascript:void(0);">التجهيزات الخارجية<i class="fa fa-plus"></i></a>
                    <ul class="inner">
                        <li class="tab1">
                            <span class="descTab">مصابيح أمامية</span><span class="dataTab">
                                LED
                            </span>
                        </li>
                        <li class="tab1">
                            <span class="descTab">أضواء ضباب</span><span class="dataTab">
                                متاح
                            </span>
                        </li>
                        <li class="tab1">
                            <span class="descTab">نظام الدخول الذكي</span><span class="dataTab">
                                متاح
                            </span>
                        </li>
                        <li class="tab1">
                            <span class="descTab">مقابض الأبواب من الكروم</span><span class="dataTab">
                                متاح
                            </span>
                        </li>
                        <li class="tab1">
                            <span class="descTab">حساسات خلفية لصف السيارة</span><span class="dataTab">
                                متاح
                            </span>
                        </li>
                        <li class="tab1">
                            <span class="descTab">حساسات أمامية لصف السيارة</span><span class="dataTab">
                                متاح
                            </span>
                        </li>
                        <li class="tab1">
                            <span class="descTab">فتحة سقف كهربائية مانعة التسرب تعمل بلمسة واحدة</span><span class="dataTab">
                                متاح
                            </span>
                        </li>
                        <li class="tab1">
                            <span class="descTab">مرايا جانبية كهربائية</span><span class="dataTab">
                                متاح
                            </span>
                        </li>
                        <li class="tab1">
                            <span class="descTab">باب صندوق الامتعة آلي</span><span class="dataTab">
                                متاح
                            </span>
                        </li>

                        <li class="tab1">
                            <span class="descTab">أضواء خلفية  LED</span><span class="dataTab">
                                متاح
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="block">
                    <a class="toggle" href="javascript:void(0);">السهولة والراحة <i class="fa fa-plus"></i></a>
                    <ul class="inner">
                        <li class="tab1">
                            <span class="descTab">زر لتشغيل المحرّك</span><span class="dataTab">
                                متاح
                            </span>
                        </li>
                        <li class="tab1">
                            <span class="descTab">فرامل يد كهربائية</span><span class="dataTab">
                                متاح
                            </span>
                        </li>
                        <li class="tab1">
                            <span class="descTab">فتحات للتكييف في صف المقاعد الثاني</span><span class="dataTab">
                                متاح
                            </span>
                        </li>
                        <li class="tab1">
                            <span class="descTab">نظام تثبيت السرعة</span><span class="dataTab">
                                متاح
                            </span>
                        </li>
                        <li class="tab1">
                            <span class="descTab">عجلة قيادة مغلّفة بالجلد</span><span class="dataTab">
                                متاح
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="block">
                    <a class="toggle" href="javascript:void(0);">المقاعد<i class="fa fa-plus"></i></a>
                    <ul class="inner">

                        <li class="tab1">
                            <span class="descTab">تنجيد المقاعد</span><span class="dataTab">
                                جلد

                            </span>
                        </li>

                        <li class="tab1">
                            <span class="descTab">تعديل حركة مقعد السائق</span><span class="dataTab">
                                كهربائي

                            </span>
                        </li>

                        <li class="tab1">
                            <span class="descTab">تعديل حركة مقعد الراكب الأمامي</span><span class="dataTab">
                                كهربائي

                            </span>
                        </li>


                    </ul>
                </div>
                <div class="block">
                    <a class="toggle" href="javascript:void(0);">النظام الصوتي والاتصال<i class="fa fa-plus"></i></a>
                    <ul class="inner">

                        <li class="tab1">
                            <span class="descTab">نظام ملاحي</span><span class="dataTab">
                                متاح

                            </span>
                        </li>

                        <li class="tab1">
                            <span class="descTab">شاشة معلومات</span><span class="dataTab">
                                متاح

                            </span>
                        </li>







                        <li class="tab1">
                            <span class="descTab">بلوتوث</span><span class="dataTab">
                                متاح

                            </span>
                        </li>


                        <li class="tab1">
                            <span class="descTab">واجهة بيانية USB النظام الصوتي</span><span class="dataTab">
                                متاح

                            </span>
                        </li>



                        <li class="tab1">
                            <span class="descTab">شاحن لاسلكي للهاتف الخلوي</span><span class="dataTab">
                                متاح

                            </span>
                        </li>

                    </ul>
                </div>
                <div class="block">
                    <a class="toggle" href="javascript:void(0);">السلامة<i class="fa fa-plus"></i></a>
                    <ul class="inner">

                        <li class="tab1">
                            <span class="descTab">وسائد هواء أمامية (SRS)</span><span class="dataTab">
                                متاح

                            </span>
                        </li>

                        <li class="tab1">
                            <span class="descTab">وسائد هوائية أمامية جانبية</span><span class="dataTab">
                                متاح

                            </span>
                        </li>


                        <li class="tab1">
                            <span class="descTab">ستائر هوائية جانبية</span><span class="dataTab">
                                متاح

                            </span>
                        </li>

                        <li class="tab1">
                            <span class="descTab">كاميرا للرؤية الخلفية ( متعددة الزوايا )</span><span class="dataTab">
                                خلفية

                            </span>
                        </li>

                        <li class="tab1">
                            <span class="descTab">نظام المساعدة في ثبات السيارة (VSA®)</span><span class="dataTab">
                                متاح

                            </span>
                        </li>

                        <li class="tab1">
                            <span class="descTab">نظام الفرامل المانعة للانغلاق (ABS)</span><span class="dataTab">
                                متاح

                            </span>
                        </li>

                        <li class="tab1">
                            <span class="descTab">نظام التوزيع الإلكتروني لقوة الفرامل (EBD) </span><span class="dataTab">
                                متاح

                            </span>
                        </li>


                        <li class="tab1">
                            <span class="descTab">نظام الدعم الإلكتروني لقوة الفرامل (EBB)</span><span class="dataTab">
                                متاح

                            </span>
                        </li>

                        <li class="tab1">
                            <span class="descTab">نظام مراقبة ضغط الهواء في الإطارات (TPMS)</span><span class="dataTab">
                                متاح

                            </span>
                        </li>




                    </ul>
                </div>
                <div class="block">
                    <a class="toggle" href="javascript:void(0);">الإستشعارات<i class="fa fa-plus"></i></a>
                    <ul class="inner">
                        <li class="tab1">
                            <span class="descTab">تحذير من الاصطدامات الأمامية (FCW)</span><span class="dataTab">
                                متاح
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>
@section Scripts{ 
    <script>

$(document).ready(function(){

    // inner cars Page Carusal images
    $('.innerCars.owl-carousel').owlCarousel({
        loop:false,
        rtl:true,
        margin:5,
        autoplay:true,
        navText:'',
        autoplayHoverPause:true,
        nav:false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:4
            }
        }
    });

    $(".selectColor").on("click", function() {
        var clrId = $(this).data('colorid');
        var liss = $(this);
        var carId = "514";

       // console.log(clrId);

        // var brand_id = ;
        var token = $("input[name='_token']").val();
        $.ajax({
            url: "https://salehcars.com/public/ar/ajax/colorsImage",
            method: 'POST',
            data: {carId:carId, clrId:clrId, _token:token},
            dataType: 'JSON',
            beforeSend: function() {
                $(liss).addClass("selected").siblings().removeClass("selected");
                //$("#outerImgs").html('<div id="loader"><img src="https://salehcars.com/public/web/img/loading.svg" alt="Loading.."></div>');

                $("#loader").show();
            },
            success: function(data) {

                //console.log(data);

                if(data.msg.inner){
                    innerFound = true;

                    var innerCenters = '';
                    $.each(data.msg.inner, function(i, item) {

                    //  centers += '<div class="owl-item active"><div><a href="'+item+'" data-lightbox="innerCar"><img src="'+item+'"></a></div></div>';
                        innerCenters += '<div><a href="'+item+'" data-lightbox="innerCar"><img src="'+item+'"></a></div>';

                    });

                    $('#newInnerImgs').html(innerCenters);

                    var $innerOwl = $('#newInnerImgs');
                    $innerOwl.trigger('destroy.owl.carousel');

                    $innerOwl.html($innerOwl.find('.owl-stage-outer').html()).removeClass('owl-loaded');
                    $innerOwl.owlCarousel({
                        loop:false,
                        rtl:true,
                        margin:5,
                        autoplay:true,
                        navText:'',
                        autoplayHoverPause:true,
                        nav:false,
                        responsive:{
                            0:{
                                items:1
                            },
                            600:{
                                items:3
                            },
                            1000:{
                                items:4
                            }
                        }
                    });



                    console.log('we have inner image new ..... hoooooooooooooooooowwwwwwwwwaw')
                }else{

                    console.log('we dont have new inner image ;(')

                }

	            var centers = '';
                $.each(data.msg.imgs, function(i, item) {

                //  centers += '<div class="owl-item active"><div><a href="'+item+'" data-lightbox="innerCar"><img src="'+item+'"></a></div></div>';
                    centers += '<div><a href="'+item+'" data-lightbox="innerCar"><img src="'+item+'"></a></div>';

                });

                $('#outerImgs').html(centers);

                var $owl = $('#outerImgs');

                $owl.trigger('destroy.owl.carousel');

                $owl.html($owl.find('.owl-stage-outer').html()).removeClass('owl-loaded');
                $owl.owlCarousel({
                    loop:false,
                    rtl:true,
                    margin:5,
                    autoplay:true,
                    navText:'',
                    autoplayHoverPause:true,
                    nav:false,
                    responsive:{
                        0:{
                            items:1
                        },
                        600:{
                            items:3
                        },
                        1000:{
                            items:4
                        }
                    }
                });

                $("#loader").hide();
                $('.colorName').text(data.msg.name);

            }
        });
    });

    /// Accordion Car Specification & Featuers
    $('.toggle').click(function(e) {
        e.preventDefault();

        var $this = $(this);

        if ($this.next().hasClass('show')) {
            $this.next().removeClass('show');
            $this.next().slideUp(350);
            $this.children('i').removeClass('fa-minus').addClass('fa-plus');
            $this.css('color','#222');

        } else {
            $this.next().toggleClass('show');
            $this.next().slideToggle(350);
            $this.children('i').removeClass('fa-plus').addClass('fa-minus');
            $this.css('color','#c2000b');

            // Close Others
            $this.parent().siblings().find('ul.inner').removeClass('show').slideUp(350);
            // Change other colors and change minus to plus
            $this.parent().siblings().find('a.toggle').css('color','#222').children('i').removeClass('fa-minus').addClass('fa-plus');

        }
    });


    // On Mobile Change Between Featuers and Specs.
    $('#openFetures').on('click',function(e) {
        e.preventDefault();

        var $this = $(this);

        if (!$this.parent().hasClass('activeTab')) {

            $this.parent().addClass('activeTab');
            $('#specs').hide();
            $('#fetures').show();

            $this.parent().siblings().removeClass('activeTab');
        }
    });

    $('#openSpecs').on('click',function(e) {
        e.preventDefault();

        var $this = $(this);

        if (!$this.parent().hasClass('activeTab')) {

            $this.parent().addClass('activeTab');
            $('#fetures').hide();
            $('#specs').show();

            // $('#specs').slideUp();
            $this.parent().siblings().removeClass('activeTab');
        }
    });
});
    </script>
}