@model ColorCarDTO
@{
    ViewData["Title"] = "اضافة اللون";
    Layout = null;
}
<form asp-action="AddColor" method="post" class="ajaxForm" tname="#color" enctype="multipart/form-data">
   <input type="hidden" asp-for="CarId" value="@ViewBag.id"/>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="NameAr"></label>
                <input asp-for="NameAr" class="form-control" />
                <span asp-validation-for="NameAr" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="NameEn"></label>
                <input asp-for="NameEn" class="form-control" />
                <span asp-validation-for="NameEn" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Color">درجة اللون</label>
                <input type="color" asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>صور السيارة الخاصة باللون</label>
                <input type="file" multiple name="Images" class="form-control" />
                <span  class="text-danger"></span>
            </div>
        </div>
    </div>

    <hr />
    <div class="form-group">
        <input type="submit" value="اضافة" class="btn btn-primary" />
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">الغاء</button>
    </div>
</form>
<script>
    PageLoadActions();
</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
