<!doctype html>
<html lang=&quot;ar&quot;>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <meta content="INDEX, FOLLOW" name="ROBOTS" />
    <link rel="canonical" href="https://salehcars.com/" />
    <meta name="author" content="webStdy">
    <meta name="author" content="WebStdy (https://www.webstdy.com)">

    <meta name="description" content="مجموعة صالح للسيارات موزع معتمد للسيارات بالمملكة العربية السعودية متخصصون في بيع السيارات الجديدة ونقدم تجربة فريدة في شراء السيارات بخدمة عملاء متميزة وخدمات ما بعد البيع">
    <meta name="keywords" content="عروض السيارات اسعار السيارات سيارات عروض سيارات موقع بيع سيارات مواقع بيع السيارات اقساط سيارات سيارات اقساط السيارات الجديدة اخر عروض السيارات">



    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="مجموعة صالح للسيارات" />
    <meta property="og:url" content="~/ar" />

    <meta property="og:title" content="الرئيسية" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="~/logo.png" />







    <meta property="og:locale" content="ar_AR" />
    <meta name="twitter:card" content="summary" />

    <meta name="theme-color" content="#c2000b">

    <title>
        مجموعة صالح للسيارات -  الرئيسية
    </title>

    <!-- Fav icon -->
    <link rel="icon" type="image/x-icon" href="~/web/img/fav.png" />


    <link rel="stylesheet" href="~/web/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/web/css/all.min.css">
    <link rel="stylesheet" href="~/web/css/lightbox.css">
    <!-- <link rel="stylesheet" href="css/revolution.addon.particles.css" > -->

    @*<link rel="stylesheet" href="~/web/css/style.css">*@
    <link href="~/web/css/new_style.ltr.css" rel="stylesheet" />
    <link rel="stylesheet" href="/web/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/web/js/sweetalert/sweetalert2.min.css">

    <link href="https://fonts.googleapis.com/css?family=Tajawal:400,500,700,900&amp;subset=arabic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cairo:600,700,900&display=swap&subset=arabic" rel="stylesheet">


    <!-- <script src="js/jquery-3.2.1.slim.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->

    <script src="~/web/js/jquery3-3-1.min.js"></script>

    <script src="~/web/js/owl.carousel.min.js"></script>

    <script src="~/web/js/sweetalert/sweetalert2.min.js"></script>


    <link rel="stylesheet" href="https://slider.salehcars.com/revslider/public/assets/css/settings.css" type="text/css" media="all" />
    <script type="text/javascript" src="https://slider.salehcars.com/revslider/public/assets/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="https://slider.salehcars.com/revslider/public/assets/js/jquery.themepunch.revolution.min.js"></script>



    <!-- <script src="~/web/js/owl.carousel.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
    <link rel="shortcut icon" href="~/logo.png" />

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WS93GWL');</script>
    <!-- End Google Tag Manager -->


    <style>

        .pagination > li > a:focus,
        .pagination > li > a:hover,
        .pagination > li > span:focus,
        .pagination > li > span:hover {
            color: #ff0000;
        }

        .page-link:not(:disabled):not(.disabled) {
            color: #ff0000;
        }

        .page-item.active .page-link {
            color: #fff;
            background-color: #ff0000;
            border-color: #ff0000;
        }

        .pagination {
            justify-content: center;
            margin: 0 0 30px 0;
        }
    </style>

</head>
<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WS93GWL"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="container">
        <!-- Mobile Menu -->


    </div>
    <div class="header">
        <div class="container">
            <div class="row">


                <div class="search d-block d-md-none col-12">
                    <a href="javascript:void(0);" class="icon" id="searchIcon"><i class="fa fa-search fa-lg" aria-hidden="true" title="Toggle navigation"></i></a>

                    <div class="searchMobile" id="searchMobile">
                        <form action="~/ar/search" method="GET">

                            <input type="text" name="search_text" id="toHeadSearch" class="toHeadSearch" placeholder="ابحث هنا ...">
                            <input type="submit" class="toHeadBtn" value="بحث">
                        </form>
                        <a class="advancedSearch" id="advancedSearch" href="#"><i class="fab fa-searchengin"></i> البحث المتقدم ... </a>
                    </div>
                </div>
                <ul class="resultsm">
                </ul>

                <div class="col-md-3 order-3">
                    <a class="logo" href="~/ar">
                        <img src="~/web/img/Saleh_Logo_ar.svg">
                    </a>
                </div>
                <div class="col-md-7 topNav d-none d-md-block order-2">
                    <div class="spacing-60"></div>
                    <nav>
                        <ul>
                            <li><a class=" active  " href="~/ar">الرئيسية</a></li>
                            <li class="have-child">
                                <a class="" href="javascript:void(0);">من نحن<i class="fas fa-chevron-left"></i></a>
                                <ul>
                                    <li><a class="" href="~/ar/about">عن الشركة</a></li>
                                    <li><a class="" href="~/ar/whySaleh">ليش صالح</a></li>
                                </ul>
                            </li>
                            <li><a class="" href="~/ar/brands">السيارات</a></li>
                            <li class="have-child">
                                <a class="" href="javascript:void(0);">العروض<i class="fas fa-chevron-left"></i></a>
                                <ul>
                                    <li><a class="" href="~/ar/cars/offers">الخصومات</a></li>
                                    <li><a class="" href="~/ar/offers">العروض الخاصة</a></li>
                                </ul>
                            </li>

                            <li class="have-child">
                                <a class="" href="javascript:void(0);">طلب شراء <i class="fas fa-chevron-left"></i></a>
                                <ul>
                                    <li><a class="" href="~/ar/buy_individual">افراد</a></li>
                                    <li><a class="" href="~/ar/buy_company">شركات</a></li>
                                </ul>
                            </li>
                            <li><a class="" href="~/ar/common_questions">الاسئلة الشائعة</a></li>
                            <li><a class="" href="~/ar/contact">اتصل بنا</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-2 leftNav order-1 d-none d-md-block">



                    <div class="favHeader">
                        <i class="far fa-heart"></i>

                        <a href="~/ar/favorites">المفضلة</a>
                    </div>
                    <div class="langbar">
                        <a href="/en/" class="active"><img src="~/web/img/En.svg" width="25"></a>
                    </div>
                    <div class="callTop">
                        <a href="tel:920022122">920022122</a>
                        <img src="~/web/img/tel.svg" width="25">


                    </div>





                    <div class="clearfix"></div>

                </div> <!-- col2 -- 2 -->


            </div> <!--row -->


            <div class="d-block d-md-none col-xs-12 width15">
                <a href="javascript:void(0);" class="icon" id="topIcon"><i class="fa fa-bars fa-lg" aria-hidden="true" title="Toggle navigation"></i></a>

                <ul class="mobile" id="myTopnav" style="display: none;">
                    <li><a class=" active  " href="~/ar">الرئيسية</a></li>
                    <li class="have-child">
                        <a class="" href="javascript:void(0);">من نحن<i class="fas fa-chevron-left"></i></a>
                        <ul>
                            <li><a class="" href="~/ar/about">عن الشركة</a></li>
                            <li><a class="" href="~/ar/whySaleh">ليش صالح</a></li>
                        </ul>
                    </li>
                    <li><a class="" href="~/ar/brands">السيارات</a></li>
                    <li class="have-child">
                        <a class="" href="javascript:void(0);">العروض<i class="fas fa-chevron-left"></i></a>
                        <ul>
                            <li><a class="" href="~/ar/cars/offers">الخصومات</a></li>
                            <li><a class="" href="~/ar/offers">العروض الخاصة</a></li>
                        </ul>
                    </li>

                    <li class="have-child">
                        <a class="" href="javascript:void(0);">طلب شراء <i class="fas fa-chevron-left"></i></a>
                        <ul>
                            <li><a class="" href="~/ar/buy_individual">افراد</a></li>
                            <li><a class="" href="~/ar/buy_company">شركات</a></li>
                        </ul>
                    </li>
                    <li><a class="" href="~/ar/common_questions">الاسئلة الشائعة</a></li>
                    <li><a class="" href="~/ar/contact">اتصل بنا</a></li>
                    <li><a href="~/ar/favorites">المفضلة</a></li>
                    <li><a href="/en/">English</a></li>
                </ul>

            </div>

        </div>  <!--  container-fluid -->
    </div> <!--  end-header -->

    @RenderBody()



    <!-- quick View modal -->
    <div class="modal fade bd-example-modal-lg" id="quickV" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    </div>





    <script>
        /*  */
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("select[name='car_brand_id']").on("change", function () {
                var brand_id = $(this).val();
                var token = $("input[name='_token']").val();
                $.ajax({
                    url: "~/ar/ajax/models",
                    method: 'POST',
                    data: { brand_id: brand_id, _token: token },
                    success: function (data) {
                        $("select[name='car_model_id'").html('');
                        $("select[name='car_model_id'").html(data.options);
                    }
                });
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("select[name='car_model_id']").on("change", function () {
                var model_id = $(this).val();
                var token = $("input[name='_token']").val();
                $.ajax({
                    url: "~/ar/ajax/model_types",
                    method: 'POST',
                    data: { model_id: model_id, _token: token },
                    success: function (data) {
                        $("select[name='car_model_type'").html('');
                        $("select[name='car_model_type'").html(data.options);
                    }
                });
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {



            $("#search-box").keypress(function () {
                var search_text = $(this).val();
                var token = $("input[name='_token']").val();
                console.log(search_text);


                $.ajax({
                    url: "~/ar/search_ajax",
                    method: 'POST',
                    data: { search_text: search_text, _token: token },
                    success: function (data) {
                        console.log(data);
                        $(".results").slideDown();
                        $(".results").html('');
                        $(".results").html(data);

                    }
                });

            });
        });
    </script>

    <!-------------------------------
        *
        *  Advanced Search Modal
        *
    ---------------------------------->
    <div class="modal fade bd-example-modal-lg" id="advancedSearchModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">





            <div class="modal-content">
                <a class="close_modal" data-dismiss="modal"><i class="fa fa-times-circle"></i></a>


                <section class="modalData">
                    <div class="modal-header">
                        <h5 class="modal-title">البحث المتقدم</h5>
                    </div>
                    <form class="form" action="~/ar/search" method="GET">

                        <div class="row">
                            <div class="col-md-9">

                                <div class="row">

                                    <div class="form-group col-md-4">
                                        <select name="car_brand_id" id="inputState" class="form-control">
                                            <option value="" selected>اختر الماركه</option>
                                            <option value="3">هوندا</option>
                                            <option value="4">ميتسوبيشي</option>
                                            <option value="5">فورد</option>
                                            <option value="6">نيسان</option>
                                            <option value="7">هيونداي</option>
                                            <option value="8">شيفروليه</option>
                                            <option value="9">جي ام سي</option>
                                            <option value="10">رينو</option>
                                            <option value="11">كيا</option>
                                            <option value="12">تويوتا</option>
                                            <option value="13">ايسوزو</option>
                                            <option value="14">مازدا</option>
                                            <option value="15">لكزس</option>
                                            <option value="16">بينتلي</option>
                                            <option value="17">رنج روفر</option>
                                            <option value="18">فولفو</option>
                                            <option value="19">ميني</option>
                                            <option value="20">بي ام دبليو</option>
                                            <option value="21">مرسيدس بنز</option>
                                            <option value="22">كرايسلر</option>
                                            <option value="23">دودج</option>
                                            <option value="24">رام</option>
                                            <option value="25">جيب</option>
                                            <option value="26">الفاروميو</option>
                                            <option value="27">فيات</option>
                                            <option value="28">فوتون</option>
                                            <option value="29">شانجان</option>
                                            <option value="30">شيري</option>
                                            <option value="31">سوزوكي</option>
                                            <option value="32">هينو</option>
                                            <option value="33">إم جي</option>
                                            <option value="34">جيتور</option>
                                            <option value="35">بيجو</option>
                                            <option value="36">GAC</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <select name="car_model_id" id="inputState" class="form-control">
                                            <option value="" selected>اختر النوع</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <select name="car_model_type" id="inputState" class="form-control">
                                            <option value="" selected>اختر الفئة</option>
                                        </select>
                                    </div>


                                </div> <!--row inside -->
                            </div> <!-- col9 -->



                            <button type="submit" class="btn btn-primary col-md-3 modalBtn">بحث</button>
                        </div> <!-- row -->
                    </form>
                </section>
                <!-- <a href="car.php" class="modalBtn">المزيد من التفاصيل ...</a> -->

            </div>
        </div>
    </div>



    <footer id="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-8 order-2">


                    <div class="row">
                        <div class="col-md-3 col-6 order-4">
                            <p class="footer_title">السيارات</p>
                            <ul class="outerLinks">
                                <li><a href="~/ar/brands">السيارات</a></li>
                                <li><a href="~/ar/offers">العروض الخاصة</a></li>
                                <li><a href="~/ar/cars/offers">الخصومات</a></li>

                                <li><a href="~/ar/common_questions">الاسئلة الشائعة</a></li>

                            </ul>
                        </div>

                        <div class="col-md-3 col-6 order-3">
                            <p class="footer_title">طلب الشراء</p>
                            <ul class="outerLinks">
                                <li><a href="~/ar/buy_individual">طلبات الافراد</a></li>
                                <li><a href="~/ar/buy_company">طلبات الشركات</a></li>
                            </ul>

                            <p class="footer_title">الشروط والاحكام</p>
                            <ul class="outerLinks">
                                <li><a href="~/ar/terms_conditions">الشروط والاحكام</a></li>
                                <li><a href="~/ar/policy">سياسة الخصوصية</a></li>
                            </ul>
                        </div>

                        <div class="col-md-3 col-6 order-2">
                            <p class="footer_title">عن الشركة</p>
                            <ul class="outerLinks">

                                <li><a href="~/ar/whySaleh">ليش صالح</a></li>
                                <li><a href="#">الرؤية والرسالة</a></li>

                            </ul>
                        </div>

                        <div class="col-md-3 col-6 order-1">



                            <p class="footer_title">تواصل معنا</p>
                            <ul class="outerLinks">
                                <li><a href="~/ar/contact#branches">فروعنا</a></li>
                                <li><a href="~/ar/contact#contactUs">بيانات التواصل</a></li>
                            </ul>
                        </div>

                    </div>






                </div>
                <div class="col-md-4 order-3 mailingList">

                    <p>اشترك ليصلك احدث عروضنا</p>
                    <form action="~/ar/emails/list" method="POST">
                        <input type="hidden" name="_token" value="UuKzCtXmVTK47dBcYS9hPkqhZQ5rGLfU2Y40yCw4">                              <div class="form-group row">

                            <div class="col-sm-11">
                                <input type="email" required class="form-control" name="email" id="email" placeholder="البريد الالكتروني">
                                <button type="submit" class="modalBtn newsLetterBtn">اشترك</button>
                            </div>
                        </div>


                    </form>

                    <div class="social-footer">
                        <a rel="nofollow noopener" class="fb" href="https://facebook.com/salehcars"><i class="fab fa-facebook-f"></i> </a>
                        <a rel="nofollow noopener" class="twi" href="https://twitter.com/salehcars"><i class="fab fa-twitter"></i> </a>
                        <a rel="nofollow noopener" class="insta" href="https://instagram.com/salehcars"><i class="fab fa-instagram"></i> </a>
                        <a rel="nofollow noopener" class="linked" href="https://www.linkedin.com/company/14519379"><i class="fab fa-linkedin-in"></i> </a>
                        <a rel="nofollow noopener" class="yt" href="https://www.youtube.com/channel/UC2FKTAgrbhNriDk4rXc0cSA"><i class="fab fa-youtube"></i> </a>
                        <a rel="nofollow noopener" class="snap" href="https://www.snapchat.com/add/salehcars"><i class="fab fa-snapchat-ghost"></i> </a>
                    </div> <!-- Social Header -->
                </div>
            </div>
        </div>
        <div class="cr">
            <p id="c1">
                جميع الحقوق محفوظة <a href="~/ar">مجموعة صالح للسيارات</a> &copy; 2019
            </p>
            <p id="c2">
                تم تطويره بواسطة :  <a title="ويب ستدي لتصميم و برمجة المواقع" target="_blank" href="https://webstdy.com">
                    <img src="https://webstdy.com/CDN/cr.png" title="ويب ستدي لتصميم و برمجة المواقع" alt="شركة ويب ستيدي للبرمجيات" style="height:30px">
                </a>
            </p>

        </div>
    </footer>






    <!-- <script src="js/jquery-ui.min.js"></script> -->

    <script src="~/web/js/popper.min.js"></script>
    <script src="~/web/js/bootstrap.min.js"></script>
    <script src="~/web/js/lightbox.js"></script>


    <!-- <script src="revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="js/revolution.addon.particles.min.js"></script> -->
    <script>

        $(document).mouseup(function (e) {
            var container = $("#form_call");

            var search_results = $(".results");

            var result_mobile = $(".resultsm");

            var social_share = $("#social_btns_wraper");

            var searchOnFixed = $("#searchOnFixed");

            // if the target of the click isn't the container nor a descendant of the container
            if (!container.is(e.target) && container.has(e.target).length === 0) {
                container.slideUp();
            }

            if (!search_results.is(e.target) && search_results.has(e.target).length === 0) {
                search_results.slideUp();
            }

            if (!result_mobile.is(e.target) && result_mobile.has(e.target).length === 0) {
                result_mobile.slideUp();
            }

            if (!social_share.is(e.target) && social_share.has(e.target).length === 0) {
                social_share.slideUp();
            }

            if (!searchOnFixed.is(e.target) && searchOnFixed.has(e.target).length === 0) {
                searchOnFixed.slideUp();
            }


        });


        $(document).ready(function () {

            $("#closeSearchMobile").click(function (e) {
                e.preventDefault();
                $(".resultsm").slideUp();
            });

            $('.addToFavLink').tooltip();


            //$('.ttt').lightBox();
            // Display form get mobile before call Or whats
            $(".displayPopup").on("click", function (e) {
                e.preventDefault();
                $(this).addClass('hoverd').siblings().removeClass('hoverd');

                if ($(this).data('type') == "phone") {
                    $("#form_call").slideDown();
                    $('#form_call').find('button i').removeClass('fa-whatsapp').removeClass('fab').addClass('fas').addClass('fa-phone');
                    $("#phonenumber_type").val("1");
                }
                else if ($(this).data('type') == "whats") {
                    $("#form_call").slideDown();
                    //$(this).find('button i').removeClass('fas fa-phone').addClass('fab fa-whatsapp');
                    $('#form_call').find('button i').removeClass('fa-phone').removeClass('fas').addClass('fab').addClass('fa-whatsapp');
                    $("#phonenumber_type").val("2");
                }
                else if ($(this).data('type') == "share") {
                    $("#social_btns_wraper").slideDown();
                }
                else if ($(this).data('type') == "search") {
                    $("#searchOnFixed").slideDown();
                }
            });

            // Why Saleh Carusal Used in:
            // Home
            // Car
            // Cars
            $('.why_saleh.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                rtl: true,
                margin: 45,
                // responsiveClass:true,
                autoplay: true,
                navText: ['<i class="fas fa-angle-right"></i>', '<i class="fas fa-angle-left"></i>'],
                autoplayHoverPause: true,
                nav: false,
                // autoWidth:true,
                responsive: {
                    0: {
                        items: 1,
                        center: true,
                        margin: 15,
                        autoWidth: true,
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    }
                }
            });


            // Home Page Carusal Cars
            // used in home page only
            $('.owl-carousel').owlCarousel({
                loop: false,
                margin: 10,
                rtl: true,
                margin: 45,
                autoplay: true,
                navText: ['<i class="fas fa-angle-right"></i>', '<i class="fas fa-angle-left"></i>'],
                autoplayHoverPause: true,
                nav: true,
                responsive: {
                    0: {
                        items: 1,
                        center: true,
                        nav: false,
                        // autoWidth:true,

                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 4
                    }
                }
            });






            //// General Used In All Pages


            // Top Search Icons
            $(".toHeadSearch").focus(function () {
                $(this).css('width', '137px')
            });
            $(".toHeadSearch").focusout(function () {
                $(this).css('width', '90px')
            })


            // Advanced Search Button Open #advancedSearchModal Modal
            $('#advancedSearch').on("click", function (e) {
                e.preventDefault();
                $('#advancedSearchModal').modal('show');
                $("#searchMobile").slideUp();
                $(".header").removeClass("hasSearch");
                $(".header").removeClass("hasSearch");

            });



            $('#advancedSearch_DK').on("click", function (e) {
                e.preventDefault();
                $('#advancedSearchModal').modal('show');
                $("#searchOnFixed").slideUp();
                //$(".header").removeClass("hasSearch");
                // $(".header").removeClass("hasSearch");

            });
            /* Toggle Mobile Menu */
            $("#topIcon").on("click", function () {
                if ($("#myTopnav").hasClass("responsive")) {
                    $("#myTopnav").slideUp();
                    $("#myTopnav").removeClass("responsive");
                    $("#topIcon").removeClass("responsive");
                    //console.log('opend nav');
                } else {
                    $("#myTopnav").slideDown().addClass("responsive");
                    $("#topIcon").addClass("responsive");
                    //console.log('closed nav');
                }
            });
            /* Toggle Search Mobile */
            $("#searchIcon").on("click", function () {
                if ($(".header").hasClass("hasSearch")) {
                    $("#searchMobile").slideUp();
                    $(".header").removeClass("hasSearch");
                    $(".header").removeClass("hasSearch");
                    //console.log('opend nav');
                } else {
                    $("#searchMobile").slideDown().addClass("hasSearch");
                    $(".header").addClass("hasSearch");
                    //console.log('closed nav');
                }
            });


            /*
              $(".displayPopup").on('click', function (e) {

                  e.preventDefault();

                  $(this).parent().css('position','relative');
                      $(this).parent().append('<div class="formInAction"><form method="post" action="" class="formInPopOver"><input type="text" name="mobile"><input type="hidden" name="actionFrom"><input type="submit" name="send" value="ارسال"></form></div>');
                  }); */

        });






        /* Fixed Header in top */


        // if is mobile Fixed purchace tab on bottom
        // else if is Desktop Fixed purchace tab on Top
        var isMobile = window.matchMedia("only screen and (max-width: 760px)").matches;

        if (isMobile) {

            function fixDiv() {
                var $cache = $('#getFixed');
                if ($(window).scrollTop() > 300) {
                    $cache.slideDown();
                    document.getElementById('getFixed').style.display = "block";
                    $cache.css({
                        'position': 'fixed',
                        'bottom': '0',
                        'top': 'auto',
                        'display': 'block'
                    });
                    $('#footer').css({
                        'margin-bottom': '50px',
                    });
                    $('#callOnFixed').hide();
                } else {
                    $cache.slideUp();
                    document.getElementById('getFixed').style.display = "none";
                    $cache.css({
                        'position': 'relative',
                        'bottom': 'auto',
                        'display': 'none',
                    });
                    $('#footer').css({
                        'margin-bottom': '0',
                    });
                }
            }
            $(window).scroll(fixDiv);
            fixDiv();

        } else {

            function fixDiv() {
                var $cache = $('#getFixed');
                if ($(window).scrollTop() > 300) {
                    $cache.slideDown('fast');
                    $cache.css({
                        'position': 'fixed',
                        'top': '0',
                        'display': 'block'
                    });
                } else {
                    $cache.slideUp();
                    $cache.css({
                        'position': 'relative',
                        'top': 'auto',
                        'display': 'none'
                    });
                }
            }
            $(window).scroll(fixDiv);
            fixDiv();
        }

    </script>

    <script type="text/javascript">
        $(document).ready(function () {



            $("#toHeadSearch").keypress(function () {
                var search_text = $(this).val();
                var token = $("input[name='_token']").val();
                console.log(search_text);


                $.ajax({
                    url: "~/ar/search_ajax",
                    method: 'POST',
                    data: { search_text: search_text, _token: token },
                    success: function (data) {
                        $(".resultsm").slideDown();
                        $(".resultsm").html('');
                        $(".resultsm").html(data);

                    }
                });

            });

            $("#toHeadSearch2").keypress(function () {
                var search_text = $(this).val();
                var token = $("input[name='_token']").val();
                console.log(search_text);


                $.ajax({
                    url: "~/ar/search_ajax",
                    method: 'POST',
                    data: { search_text: search_text, _token: token },
                    success: function (data) {
                        $(".resultsm").slideDown();
                        $(".resultsm").html('');
                        $(".resultsm").html(data);

                    }
                });

            });
        });
    </script>





    <script type="text/javascript">
        $(document).ready(function () {

            $("select[name='mcar_brand_id']").on("change", function () {
                var brand_id = $(this).val();
                var token = $("input[name='_token']").val();
                $.ajax({
                    url: "~/ar/ajax/models",
                    method: 'POST',
                    data: { brand_id: brand_id, _token: token },
                    success: function (data) {
                        $("select[name='mcar_model_id'").html('');
                        $("select[name='mcar_model_id'").html(data.options);
                    }
                });
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("select[name='mcar_model_id']").on("change", function () {
                var model_id = $(this).val();
                var token = $("input[name='_token']").val();
                $.ajax({
                    url: "~/ar/ajax/model_types",
                    method: 'POST',
                    data: { model_id: model_id, _token: token },
                    success: function (data) {
                        $("select[name='mcar_model_type'").html('');
                        $("select[name='mcar_model_type'").html(data.options);
                    }
                });
            });

        });
    </script>

    <call-us-phone style="position: fixed; width:52px;height:52px; font-size:17px; bottom: 5px; right: 17px; z-index: 99999;--call-us-form-header-background:#c2000b;--call-us-header-text-color:#ffffff;"
                   phonesystem-url="https://pbx.salehcars.com:5001/"
                   party="sales"
                   call-title="Call Us"
                   enable-onmobile="true"
                   animation-style="slideLeft"
                   call-icon="~/web/img/test.png"
                   id="web_stdy">
    </call-us-phone>
    <script src="https://pbx.salehcars.com:5001/callus.js" charset="utf-8"></script>



    <script type="text/javascript">




        let openCall = "~/web/img/ArCall.svg";

        let endCall = "~/web/img/ArEnd.svg";
        let x = document.getElementById("web_stdy");
        var btnz = x.shadowRoot;

        btnz.addEventListener("click", changeIcon, true);

        $(btnz).find('.call-us-toolbar').find('.button_3Mr5m').find('svg').replaceWith('<img src="' + openCall + '" width="52">');

        $(btnz).find('.user-container-phone-only_3VdZn').find('.button-end-call_1ZlXf').find('svg').replaceWith('<img src="' + openCall + '" width="52">');
        window.onload = function () {
            $(btnz).find('.call-us-toolbar').find('.button_3Mr5m').find('svg').replaceWith('<img src="' + openCall + '" width="52">');
            $(btnz).find('.call-us-toolbar').find('.button-end-call_1ZlXf').find('svg').replaceWith('<img src="' + endCall + '" width="52">');
        };

        function changeIcon() {
            $(btnz).find('.call-us-toolbar').find('.button_3Mr5m').find('svg').replaceWith('<img src="' + openCall + '" width="52">');
            $(btnz).find('.user-container-phone-only_3VdZn').find('.button-end-call_1ZlXf').find('svg').replaceWith('<img src="' + endCall + '" width="52">');
            console.log('changeIcon');
        }

        var sheet = new CSSStyleSheet
        sheet.replaceSync(`.root_2kd-q .call-us-toolbar button { background-color: transparent }`)
        x.shadowRoot.adoptedStyleSheets = [sheet]
    </script>

@RenderSection("Scripts", required: false)
</body>
</html>
