@*الغيوم والاضواء*@
<div class="tp-caption   tp-resizeme"
     id="slide-174-layer-16"
     data-x="['left','left','left','center']" data-hoffset="['-194','-194','-194','-1']"
     data-y="['top','top','top','top']" data-voffset="['51','51','51','102']"
     data-width="none"
     data-height="none"
     data-whitespace="nowrap"
     data-type="image"
     data-responsive_offset="on"
     data-frames='[{"delay":700,"speed":4000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":310,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
     data-textAlign="['inherit','inherit','inherit','inherit']"
     data-paddingtop="[0,0,0,0]"
     data-paddingright="[0,0,0,0]"
     data-paddingbottom="[0,0,0,0]"
     data-paddingleft="[0,0,0,0]"
     style="z-index: 6;"><img src="/Images/Slider/c0abf-Main-Light-copy--1-.png" alt="" data-ww="['1678px','1678px','1678px','1112px']" data-hh="['451px','451px','451px','299px']" data-no-retina> </div>
<div class="tp-caption   tp-resizeme"
     id="slide-174-layer-27"
     data-x="['left','left','left','left']" data-hoffset="['-182','-182','-182','-147']"
     data-y="['top','top','top','top']" data-voffset="['221','221','221','144']"
     data-width="none"
     data-height="none"
     data-whitespace="nowrap"
     data-type="image"
     data-responsive_offset="on"
     data-frames='[{"delay":900,"speed":2000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Back.easeOut"},{"delay":"wait","speed":310,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
     data-textAlign="['inherit','inherit','inherit','inherit']"
     data-paddingtop="[0,0,0,0]"
     data-paddingright="[0,0,0,0]"
     data-paddingbottom="[0,0,0,0]"
     data-paddingleft="[0,0,0,0]"
     style="z-index: 7;"><img src="/Images/Slider/63864-Clouds--1-.png" alt="" data-ww="['663px','663px','663px','426px']" data-hh="['295px','295px','295px','189px']" data-no-retina> </div>
<div class="tp-caption   tp-resizeme"
     id="slide-174-layer-28"
     data-x="['left','left','left','left']" data-hoffset="['748','748','748','177']"
     data-y="['top','top','top','top']" data-voffset="['49','49','49','150']"
     data-width="none"
     data-height="none"
     data-whitespace="nowrap"
     data-type="image"
     data-responsive_offset="on"
     data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Back.easeOut"},{"delay":"wait","speed":310,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
     data-textAlign="['inherit','inherit','inherit','inherit']"
     data-paddingtop="[0,0,0,0]"
     data-paddingright="[0,0,0,0]"
     data-paddingbottom="[0,0,0,0]"
     data-paddingleft="[0,0,0,0]"
     style="z-index: 8;"><img src="/Images/Slider/8f379-Clouds-copy--1-.png" alt="" data-ww="['740px','740px','740px','481px']" data-hh="['377px','377px','377px','245px']" data-no-retina> </div>
<div class="tp-caption   tp-resizeme"
     id="slide-174-layer-29"
     data-x="['left','left','left','left']" data-hoffset="['-66','-66','-66','-65']"
     data-y="['top','top','top','top']" data-voffset="['243','243','243','206']"
     data-width="none"
     data-height="none"
     data-whitespace="nowrap"
     data-type="image"
     data-responsive_offset="on"
     data-frames='[{"delay":5200.00030517578125,"speed":600,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"easeOutBack"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
     data-textAlign="['inherit','inherit','inherit','inherit']"
     data-paddingtop="[0,0,0,0]"
     data-paddingright="[0,0,0,0]"
     data-paddingbottom="[0,0,0,0]"
     data-paddingleft="[0,0,0,0]"
     style="z-index: 9;">
    <div class="rs-looped rs-pulse" data-easing="" data-speed="3" data-zoomstart="1" data-zoomend="1.2"><img src="/Images/Slider/d5b23-1.png" alt="" data-ww="['217px','217px','217px','152px']" data-hh="['231px','231px','231px','162px']" data-no-retina> </div>
</div>
<div class="tp-caption   tp-resizeme"
     id="slide-174-layer-30"
     data-x="['left','left','left','left']" data-hoffset="['149','149','149','89']"
     data-y="['top','top','top','top']" data-voffset="['113','113','113','118']"
     data-width="none"
     data-height="none"
     data-whitespace="nowrap"
     data-type="image"
     data-responsive_offset="on"
     data-frames='[{"delay":5300.00030517578125,"speed":600,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"easeOutBack"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
     data-textAlign="['inherit','inherit','inherit','inherit']"
     data-paddingtop="[0,0,0,0]"
     data-paddingright="[0,0,0,0]"
     data-paddingbottom="[0,0,0,0]"
     data-paddingleft="[0,0,0,0]"
     style="z-index: 10;">
    <div class="rs-looped rs-pulse" data-easing="" data-speed="4" data-zoomstart="1" data-zoomend="1.2"><img src="/Images/Slider/b7557-2.png" alt="" data-ww="['411px','411px','411px','278px']" data-hh="['351px','351px','351px','237px']" data-no-retina> </div>
</div>
<div class="tp-caption   tp-resizeme"
     id="slide-174-layer-31"
     data-x="['left','left','left','left']" data-hoffset="['346','346','346','206']"
     data-y="['top','top','top','top']" data-voffset="['31','31','31','86']"
     data-width="none"
     data-height="none"
     data-whitespace="nowrap"
     data-type="image"
     data-responsive_offset="on"
     data-frames='[{"delay":5409.89593505859375,"speed":600,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"easeOutBack"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
     data-textAlign="['inherit','inherit','inherit','inherit']"
     data-paddingtop="[0,0,0,0]"
     data-paddingright="[0,0,0,0]"
     data-paddingbottom="[0,0,0,0]"
     data-paddingleft="[0,0,0,0]"
     style="z-index: 11;">
    <div class="rs-looped rs-pulse" data-easing="" data-speed="5" data-zoomstart="1" data-zoomend="1.3"><img src="/Images/Slider/bf6dd-3.png" alt="" data-ww="['651px','651px','651px','459px']" data-hh="['394px','394px','394px','277px']" data-no-retina> </div>
</div>
<div class="tp-caption   tp-resizeme"
     id="slide-174-layer-32"
     data-x="['left','left','left','left']" data-hoffset="['541','541','541','319']"
     data-y="['top','top','top','top']" data-voffset="['19','19','19','38']"
     data-width="none"
     data-height="none"
     data-whitespace="nowrap"
     data-type="image"
     data-responsive_offset="on"
     data-frames='[{"delay":5500.00030517578125,"speed":600,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"easeOutBack"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
     data-textAlign="['inherit','inherit','inherit','inherit']"
     data-paddingtop="[0,0,0,0]"
     data-paddingright="[0,0,0,0]"
     data-paddingbottom="[0,0,0,0]"
     data-paddingleft="[0,0,0,0]"
     style="z-index: 12;">
    <div class="rs-looped rs-pulse" data-easing="" data-speed="6" data-zoomstart="1" data-zoomend="1.3"><img src="/Images/Slider/7121c-4.png" alt="" data-ww="['616px','616px','616px','507px']" data-hh="['405px','405px','405px','332px']" data-no-retina> </div>
</div>